/*
** Native Overwrites
*/
body {
	background-color: #DBDBDB;
	margin: 0px;
	line-height: normal;
}
/**
 **	Main Containers 
 **/
#main-container {
    display: block;
	margin: auto;
	height: auto;
	padding: 3% 1% 3% 1%;
	width: 1024px;
	background-color: #FFFFFF;
}

#main-content {
    display: block;
	position: relative;
	margin: auto;
	height: auto;
	width: 95%;

	/*background-color: #FDA343; */
}

/**
 **	Navigation Bar
 **/
#nav-bar ul {
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 2px;
	height: 25px;
	width:  480px;
	padding-top: 5px;

	position: absolute;
	top: 1;
	right: 1;
}

#nav-list li {
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Arial;
	font-size: 14px;
    font-weight: bold;
}

.nav-links a:link {
	color:#000000;
	text-decoration: none;
}

.nav-links a:visited{
	color:#000000;
	text-decoration: none;
}

.nav-links a:hover{
	color:#3366CC;
	text-decoration: none;
}

/**
 **	Main Logo
 **/
#main-logo {
	width: 300px;
	height: 80px;

	background-color: #FD4323;
}
