body {
font-family:arial, Verdana, Helvetica, sans-serif;
color:#000;

background: #fff;
background-repeat:no-repeat;
background-position:bottom center;
background-attachment:fixed;
font-size: 95%;
font-weight:100;
min-width:980px;
height: 100%;
margin:10px auto 25px;
position: relative;
}

#background {
	
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	
}
	

* {
	
	outline: none;
	
}

.fixed {
	
	position: fixed;
	top: 0;
	max-width: 1000px;
	background-color: #dee0e0 !important;

	
}


	.shadow {
		-moz-box-shadow: 3px 3px 4px #444;
		-webkit-box-shadow: 3px 3px 4px #444;
		box-shadow: 3px 3px 4px #444;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
	}





#wrapper {
width:980px;
height: 100%;
margin-left:auto;
margin-right:auto;
position: relative;
z-index: 5;


}

#navbar {
height:71px;
width:980px;
border-bottom: 1px solid #292929;
background: #171717;
font-family: verdana, sans-serif;
font-size: small;
z-index: 300;


}

#logopic {
float:left;
border:none;
height: 70px;


}

#logopic:hover {
	
	opacity:.8;
	
}

* {
margin:0;
padding:0
}


ul.topnav {
	list-style: none;
	margin: 0;
	float: left;
	width: 786px;
	background: #222;
	font-size: 1em;
	background: url(http://www.climatepedia.org/css/images/topnav_bg.gif) repeat-x;
	font-weight: 900;
	letter-spacing: -1px;
	z-index: 9999;
	
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 26px 0 30px;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
	cursor: pointer;
	z-index: 9999;
	
}
ul.topnav li a{
	padding: 9px 12px;
	color: #d5d5d5;
	display: block;
	text-decoration: none;
	float: left;
	cursor: pointer;

	font-weight: 900;
	z-index: 9999;
}
ul.topnav li a:hover{
	background: url(http://www.climatepedia.org/css/images/topnav_hover.gif) no-repeat center top;
	z-index: 9999;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(http://www.climatepedia.org/css/images/subnav_btn.gif) no-repeat center top;
	z-index: 9999;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 184px;
	border: 1px solid #111;
	text-transform: none;
	z-index: 9999;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 184px;
	text-transform: none;
	z-index: 9999;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 152px;
	background: #333 url(http://www.climatepedia.org/css/images/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
	text-transform: none;
	font-weight: 500;
	z-index: 9999;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(http://www.climatepedia.org/css/images/dropdown_linkbg.gif) no-repeat 10px center;
	z-index: 9999;
}

#locationbar {
float:left;
width:444px;
height:30px;
background: #171717;
text-indent:5px;
font-size:10px;
color:#00B2EE;
line-height:30px;
border-top: 1px solid #111;
text-align: center;

}

#locationbar p {
	
	margin: 0 auto;
	padding-left: 5px;
	letter-spacing: 2px;
	
}

#locationbar a {
	

	letter-spacing: 2px;
}

#locationbar a:hover {
	
	color: #007ba4;
	
}

a:link {
color:#00B2EE;
text-decoration:none;

}

a:visited {
color:#00B2EE;
text-decoration:none;
}

#searchbar {
float:right;
width:332px;
height:30px;
background: #171717;
padding-right:10px;
border-top: 1px solid #111;
}

#searchbox {
background:url(http://www.climatepedia.org/css/images/searchbox.gif) no-repeat center;
width:229px;
height:30px;
float:right;
display:block;
}

#searchbtn {
background:url(http://www.climatepedia.org/css/images/searchbtn.gif) no-repeat center;
width:80px;
height:30px;
float:right;
display:block;
margin-left:2px;

}

#pagecontent {
	
	width: 980px;
	height: 3000px;
	background: #fff;
	position: relative;
	
}



/******************************************************************
*
*
*
*
* PAGE AND TOP STYLING
*
*
*
*
*
******************************************************************/



#discussbottom {
	
	float: left;
	width: 1000px;
	margin-left: -10px;

	
}

#nav2 {
	
	width: 100%;
	height: 35px;
	background: url(images/nav-bg-light.png);
	float: left;
	border-bottom: 1px solid #999;
	z-index: 300;

}

#backforward {
	
	float: left;
	margin-left: 217px;
	
}

#backforward a {
	
	margin: 0 25px;	
	display: block;
	padding: 0;
	float: left;
	width: 35px;
	height: 35px;
	
}

#back_button {
	
	background: url(images/back-button.png);
	opacity: .5;
	
}

#back_button:hover {
	
	background: url(images/back-button-hover.png);

	
}

#forward_button {
	
	background: url(images/forward-button.png);
	opacity: .4;
	
	
}

#forward_button:hover {
	
	background: url(images/forward-button-hover.png);
	
}

#refresh_button {
	
	background: url(images/refresh-button.png);

	
}

#refresh_button:hover {
	
	background: url(images/refresh-button-hover.png);

	
}



#options {
	
	float: right;
	font-size: 75%;
	color: #555;
}

#options a {
	
	text-decoration: none;
	color: #555;
	padding: 0 20px;
	line-height: 35px;


}
	
#nav2 a:hover {
	
	color: #5183e3;
	
}	
	
#professor {
	
	width: 100%;
	height: 52px;
	padding: 9px 125px 9px 125px;
	-moz-border-top-left-radius: 15px;
	border-top-left-radius: 15px;

	
}



/******************************************************************
*
*
*
*
* LEFT AND TOPICS STYLING
*
*
*
*
*
******************************************************************/


#leftrightwrapper {
	
	width: 1000px;
	height: 20000px;
	position: relative;
	background: #d9dee5;
	float: left;
}


#left {
	
	float: left;
	width: 180px;
	padding-right: 9px;
	height: 20000px;

	background: #d9dee5;
	position: relative;
	overflow: hidden;
	
}

/* Category styling */

.category {
	
	float: left;
	
}

.categoryheader {
	
	float: left;
	clear: left;
	width: 162px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
	color: #666;
	padding-left: 5px;
	padding-top: 10px;
	
}

/* Regular topic */

.topic {
	
	width: 168px;
	height: 25px;
	float: left;
	padding: 0 0 0 28px;
	text-align: left;
	position: relative;
	background: url(images/chat2.png) left no-repeat;
	background-position: 5px;


	
}

.topic.lightblue {
	
	background: url(images/selectedchatbg.png) left;

	
}

.topictitle {
	
	font-size: 85%;
	float: left;
	color: #333 !important;
	line-height: 25px;

	
	
	
}

.topictitle:hover {
	
	color: #2c74c0 !important;
	
}

.topicdescr {
	
	float: left;
	font-size: 75%;
	clear: left;
	display: none;
	
	
	
	
	
}

/* Active Topic Title Styling */

.lightblue a {
	
	color: #fff !important;
	font-weight: bold;
	
}

.lightblue a:hover {
	
	color: #fff !important;
	
}

/* Dashboard topic styling */

#dashboardtopic {
	
	/* To remove very top border because it looked weird */
	border-top: 0 !important;
	background: url(images/dashboard.png) left no-repeat;
	background-position: 5px;
	padding-left: 25px !important;

	
}

#dashboardtopic.lightblue {
	
	background: url(images/selecteddashboardbg.png) left;
	
}


/* Community topic styling */

.community_topic {
	
	background: url(images/gear.png) left no-repeat;
	background-position: 5px;
	
}

.topic.community_topic.lightblue {
	
	background: url(images/selectedcommunitybg.png) left !important;

}

/* Energy topic styling */

.energy_topic {
	
	background: url(images/energyicon.png) left no-repeat;
	background-position: 5px;
}

.topic.energy_topic.lightblue {
	
	background: url(images/selectedenergybg.png) left !important;

}

#minimize {
	
	position: absolute;
	right: -1px;
	height: 20000px;
	width: 14px;
	display: none;
	background: #eee url(images/draggable.png);
	
}

#minimize:hover {
	
	cursor: pointer;
	background: #eee url(images/draggablehover.png);
	
}

#arrow {
	
	position: absolute;
	top: 0;
	left: -12px;
	width: 12px;
	height: 18px;

	
}	
	
.expanded {
	
	background: url(images/arrow.png);
	
}

.expanded:hover {
	
	background: url(images/arrowhover.png);
	
}

.minimized {
	
	background: url(images/arrowexpand.png);
	
}
	
.minimized:hover {
	
	background: url(images/arrowexpandhover.png);
	
}

/******************************************************************
*
*
*
*
* RIGHT STYLING AND PARTICULAR CONTENT STYLING
*
*		- DASHBOARD
*
*
*
******************************************************************/



#rightwrapper {
	
	background: #fff url(images/right.png) left repeat-y;	
	float: left;
	padding: 0;
	float: left;
	width: 800px;
	border-right: 2px solid #777;
	height: 20000px;
	position: relative;


}

#right {
	
	width: 100%;
	position: relative;
}

#shadow {
	
	width: 100%;
	height: 2px;
	position: absolute;
	top: 0;
	background: url(images/righttop.png) top repeat-x;

}

/******************************************************************
*
*
*
*
* DASHBOARD PAGE STYLING
*
*
*
*
*
******************************************************************/

#dashboard {
	
	position: relative;
	width: 780px;
	height: 500px;

	
}



#einstein {
	

	width: 371px;
	height: 320px;
	background: url(images/einstein.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	
}

#einstein p {
	
	position: absolute;
	bottom: -40px;
	text-align: center;
	
}


/******************************************************************
*
*
*
*
* LIST OF THREADS STYLING
*
*
*
*
*
******************************************************************/

#thread_list {
	
	width: 780px;
	height: 100%;
	color: #333;

	
}

#thread_list a {
	
	color: #5183e3;
	font-weight: bold;
	font-size: 100%;


}

#thread_list a:hover {
	
	color: #285bb8;
	
}

#thread_list_top_wrapper {
	
	margin-top: 3px;
	margin-left: 3px;
	width: 797px;
	height: 50px;
	float: left;
	border-bottom: 3px solid #ccc;
}

#thread_list_top {
	
	float: left;
	margin: 10px 20px;
	width: 758px;


}

#thread_list_top p {
	
	float: left;
	font-weight: bold;
	color: #666;
	letter-spacing: 2px;
	font-size: 120%;
	font-family: georgia, serif;
	line-height: 40px;


	
}

#threads_conversation {
	
	width: 540px;

	
}

#threads_category {
	
	width: 140px;

	
}

#threads_replies {
	
	width: 50px;

	
}


#thread_list_bottom {
	
	float: left;
	clear: left;
	width: 797px;
	padding: 0 0 0 3px;
	color: #333;
	
}

.thread {
	
	border-bottom: 1px solid #ccc;
	line-height: 35px;
	float: left;
}

.thread:hover {
	
	background: #f3f3f3;
	
}

.thread_title {
	
	width: 540px;
	float: left;
	padding-left: 20px;

	
	
}

.thread_category {
	
	width: 170px;
	float: left;
	font-size: 90%;
	letter-spacing: 1px;
	color: #555;
	font-style: italic;
	
}

.thread_replies {
	
	width: 67px;
	float: left;
	font-size: 90%;
	color: #555;
	font-style: italic;
}

/******************************************************************
*
*
*
*
* REPLIES STYLING
*
*
*
*
*
******************************************************************/





.topicpost {
	
	width: 745px;
	padding: 20px 10px !important;
	margin: 0 10px !important;
	min-height: 200px !important;
	border-bottom: 3px solid #aaa !important;
	font-family: arial !important;
	font-size: 80% !important;
	line-height: 22px !important;
	position: relative;
	float: left;
	
}

.openingpostheader {
	
	float: left;
	clear: left;
	color: #555;
	letter-spacing: 2px;
	
}

.openingpostauthor {
	
	float: left;
	clear: left;
}

.openingpostcontent {
	
	float: left;
	clear: left;
	color: #333;
	padding-bottom: 20px;
}

.openingpostreply {
	
	position: absolute;
	left: 20px;
	bottom: 5px;
	font-size:130%;
	letter-spacing: 2px;
	font-weight: bold;
	color: #5284e3;
	text-decoration: underline;
	
}


.openingpostreply:hover {
	
	cursor: pointer;
	color: #2259a8;
}




.reply {
	
	width: 750px;
	padding: 10px 10px 0 5px;
	margin: 0 10px !important;
	min-height: 165px;
	border-bottom: 2px solid #aaa;
	font-family: arial;
	font-size: 85%;
	line-height: 22px;
	float: left;
	color: #333;
	
	
}


/* author of reply */


.replyauthor {
	
	float: left;
	clear: left;
	width: 60px;

	margin-left: 10px;

	
}

.replyauthor p {
	
	font-size: 90%;
	
}

.avatarimage {
	

	width: 60px;
	border: 2px solid #666;

	
	
}

.replyheader {
	
	float: left;
	width: 740px;
	height: 30px;
	padding: 0 0 0 10px;
	line-height: 30px;
	
}

.childreply .replyheader {
	
	width: 650px;
	padding: 0 0 0 10px;
	
}

.replydate {
	
	float: right;
	line-height: 20px;
	padding: 0 10px;
	clear: none;
	font-size: 80%;
	color: #666;

}

.avatarname {
	
	float: left;
	color: #2259a8;
	text-align: center;
	line-height: 20px;
	padding: 0;
	margin: 0;

}

.wrote {
	
	float: left;
	color: #666;
	font-size: 85%;
	padding-left: 4px;
	line-height: 20px;
}

.authorinfo {
	
	border-bottom: 1px solid #ccc;
	float: left;
}

/* Reply middle - content */


.replycontent {
	
	float: left;
	width: 660px;
	padding: 10px 0 15px 20px;
	
	
}


.childreply .replycontent {
	
	width: 560px;

}



.reply ol, .reply ul {
	
	list-style-position: inside;
	
}

.replycontent p {
	
	float: left;
	clear: left;
	
}

.reply img {
	
	float: left;
	
}


/* Bottom of reply */

.replybottom {
	
	float: right;

	width: 660px;
	height: 25px;
	border-top: 1px dotted #bfbfbf;
	margin-bottom: 2px;
	padding: 5px 0 10px 0;
	
}

.childreply .replybottom {
	
	width: 560px;
	
}

.replybottom p {
	
	float: right;
	padding: 0 0 0 10px;
	color: #666;
	font-style: italic;
	font-size: 75%;
	
}

.replyreply {
	
	float: left;
	margin: 0 10px;
	padding: 0 10px;
	font-size: 80%;
	line-height: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	color: #2259a8 !important;
	text-decoration: underline;
	text-align: center;
}


.replyreply:hover {
	
	background-color: #bbb;
	border-radius: 10px;
	-moz-border-radius: 10px;

}

.voting {
	
	float: left;
	
}

/* This p shows up after clicking on a vote */

.voting p {
	
	color: #3e6589;
	height: 25px;
	line-height: 25px;
	font-size: 80%;
	font-weight: bold;
	letter-spacing: 2px;
	
}

.like, .dislike {
	
	float: left;

	padding: 0 10px 0 30px;
	height: 25px;
	line-height: 25px;
	font-size: 75%;
	line-height: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	color: #2259a8 !important;
	text-decoration: underline;
	
	
}

.like:hover, .dislike:hover {
	
	background-color: #bbb;
	border-radius: 10px;
	-moz-border-radius: 10px;
	
}


.like {
	
	background: url(images/up.png) left center no-repeat;
	border-right: 1px solid #ccc;

	
}

.dislike {
	
	background: url(images/down.png) left center no-repeat;
	margin-left: 10px;
	
}

/* Children of replies */


.childreplywrapper {
	
	float: left;
	width: 670px;
	padding: 10px 0 -1px 0!important;
	margin: 25px 20px 10px 80px !important;


}

.childreply {
	
	width: 650px;
	background: #f3f3f3;
	padding: 10px 10px 10px 0;
	min-height: 125px;
	border: 2px solid #ddd;
	color: #333;
	margin: 5px 0;
	font-family: arial;
	line-height: 22px;
	float: left;


}

.childreply ol, .childreply ul {
	
	list-style-position: inside;
	
}


.childreply img {
	
	float: left;
	
}



/******************************************************************
*
*
*
*
* CHOOSING AN AVATAR AND REPLYING
*
*
*
*
*
******************************************************************/


#reply_wrapper {
	
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(images/reply-bg.png);
	display: none;
	z-index: 300;
	
}


#reply_content_wrapper {
	
	width: 900px;

	display: none;
	margin: 20px auto;
	position: absolute;
	z-index: 400;

	top: 20px;
	left: 50%;
	margin-left: -450px;
	background: #fff;

	
}

#closeout {
	
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 85%;
	color: #fff;
	
}

#closeout:hover {
	
	cursor: pointer;
	
}


#directions {
	
	width: 100%;
	height: 250px;
	line-height: 25px;
	background: url(images/avatar-top-bg.png);
	float: left;
	clear: left;
	text-align: center;

	
}

#directions h3 {
	
	color: #5183e3;
	letter-spacing: 1px;
	font-size: 100%;
	padding-left: 10px;
	
}

#returning_signin {
	
	
	
}

#new_signin {
	
	
	
}




#selectavatar {
	
	clear: left;
	float: left;
	width: 646px;
	height: 800px;
	margin: 50px 3px 0 50px;
	padding: 10px 8px 10px 26px;



	
}

.avatar {
	
	width: 64px;
	height: 120px;	
	float: left;
		
}

.avatar p {
	
	font-size: 75%;
	text-align: center;
	color: #444;
	
}

.avatar img {
	
	float: left;
	margin-left: 4px;
	margin-top: 2px;
	width: 60px;

	
}

.avatar img:hover {
	
	cursor: pointer;
	opacity: .85;
	
}




/* Actually replying area for a reply to a reply */

#replying_wrapper {
	
	float: left;
	width: 700px;
	padding: 40px 0 -1px 0!important;
	margin: 5px 0 10px 50px !important;
	border: 2px solid #ddd;

	background: #2259a8;

}

#replying_header {
	
	float: left;
	width: 680px;
	padding: 20px 10px 10px 10px;
	font-weight: bold;
	color: #fff;
	line-height: 20px;
	height: 20px;

	
}

	
#replying_avatar {
	
	height: 100%;
	float: left;
	clear: left;
	
}
	
#replying_wrapper img {
	

	width: 60px;
	margin: 10px;
	
	
}

#replying_wrapper .replying_name {
	
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 85%;	
	padding-left: 10px;
	padding-bottom: 10px;
}

#replying_middle {
	
	width: 598px;
	margin: 0 10px 10px 10px;
	float: right;
	
}

#replying_wrapper textarea {
	
	width: 578px;
	max-width: 578px;
	border: 1px solid #ccc;
	height: 70px;
	float: right;
	padding: 10px;
	font-family: arial, verdana, sans-serif;
	color: #333;

	
}

#replying_submit {
	
	float: left;
	clear: left;
	width: 60px;
	height: 25px;
	line-height: 25px;
	color: #444;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
	margin: 0 0 10px 10px;
	background: #f3f3f3;
	

}

#replying_submit:hover {
	
	cursor: pointer;
	background: #eee;
	
}

.replying_thankyou {
	
	float: left;
	width: 500px;
	
}

#replying_header .replydate {
	
	font-weight: 100;
	font-size: 90%;
	
}

/* Actual replying stuff for a top post reply */

#topreplying_wrapper {
	
	width: 750px;
	padding: 10px 10px 10px 5px;
	background: #2259a8;
	margin: 0 10px !important;
	border-bottom: 2px solid #aaa;
	font-family: arial;
	font-size: 85%;
	line-height: 22px;
	float: left;
	color: #333;

}

#topreplying_header {
	
	float: left;
	width: 740px;
	padding: 0 10px 10px 10px;
	font-weight: bold;
	color: #fff;
	line-height: 20px;
	height: 20px;

	
}

	
#topreplying_avatar {
	
	height: 100%;
	float: left;
	clear: left;
	
}
	
#topreplying_wrapper img {
	

	width: 60px;
	margin: 5px 10px 10px 0;
	
	
}

#topreplying_wrapper .topreplying_name {
	
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 85%;	
	padding-left: 10px;
	padding-bottom: 10px;
}

#topreplying_middle {
	
	width: 648px;
	margin: 0 10px 10px 10px;
	float: right;
	
}

#topreplying_wrapper textarea {
	
	width: 628px;
	max-width: 628px;
	border: 1px solid #ccc;
	height: 65px;
	float: right;
	padding: 10px;
	font-family: arial, verdana, sans-serif;
	color: #333;

	
}

#topreplying_submit {
	
	float: left;
	clear: left;
	width: 60px;
	height: 25px;
	line-height: 25px;
	color: #444;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
	margin: 0 0 10px 10px;
	background: #f3f3f3;
	

}

#topreplying_submit:hover {
	
	cursor: pointer;
	background: #eee;
	
}

.topreplying_thankyou {
	
	float: left;
	width: 500px;
	
}

#topreplying_header .replydate {
	
	font-weight: 100;
	font-size: 90%;
	
}




/* Other stuff */


#replying_anchor {
	
	
}

#hidden_stuff {
	

	
}

#ajaxloader {
	
	position: fixed;
	margin-left: 2px;
	margin-top: 2px;
	display: none;
	width: 778px;
	height: 1000px;
	background: #fff url(images/ajax-roller.gif) top center no-repeat;
	
}

