 	#
    # URL Redirects using Rewrites
    #
    RewriteEngine On
    RewriteRule ^profiles/([0-9]+)/ /Climatepedia-Website/profile.php?profile_id=$1
    RewriteRule ^glossary/([0-9]+)/ /Climatepedia-Website/terms.php?term_id=$1
