
input:focus {
	
	
-moz-box-shadow: inset 0 0 3px #6d00bb;
-webkit-box-shadow: inset 0 0 3px #6d00bb;
box-shadow: inner 0 0 3px #6d00bb;

	
}

#admin_command h1 {
	
	padding-bottom: 20px;
	color: #6d00bb;
	font-weight: 900;

	
}

#admin_actions {
	
	height: 300px;
	
}

#admin_actions ul {
	
	padding-left: 30px;
	
}

.generic_admin_button:hover {
	
	cursor: pointer;
	text-decoration: none;
	background: url(images/admin-buttons-bg-purple-active.png);
	text-shadow: #260041 1px 1px;
	border: 1px solid #9500ff;
	color: #fff !important;
	font-weight: bold;
	
}


/* Blogs-specific rules */

#admin_podium {
	
	float: left;
	
}

#admin_podium label {
	
	margin-top: 10px;

}

#admin_podium textarea {
	
	margin-top: -5px;
	
}

.textarea_wrapper {
	
	float: left;
	
}

.textarea_info {
	
	float: left;
	clear: left;
	font-size: 70%;
	color: #6d00bb;
	padding: 1px 0 5px 0;


}

.choose_podium_link {
	
	float: left;
	clear: left;	
	color: #6d00bb;
	line-height: 25px;
	padding: 5px 0;
	
}

.choose_podium_date {
	
	float: left;
	font-size: 70%;
	line-height: 25px;
	padding: 5px 10px;
	
}


.blog_tag_edit {
	
	float: left;
	clear: left;
	line-height: 40px;
	padding: 5px 0;
	
}

.blog_tag_edit a {
	
	color: #6d00bb;
	padding-right: 10px;
	
}

.choose_post_link {
	
	float: left;
	clear: left;	
	color: #6d00bb;
	line-height: 25px;
	padding: 5px 0;
	
}

.choose_post_date {
	
	float: left;
	font-size: 70%;
	line-height: 25px;
	padding: 5px 10px;
	
}

/* Editing images CSS */

#editing_images {
	
	float: left;
	clear: left;
	
}

#editing_images img {
	
	width: 160px;
	border: 1px solid #d5d5d5;
	float: left;
	clear: left;	
	margin-top: 20px;
	margin-bottom: 10px;
}

#editing_images a {
	
	float: left;
	clear: left;

	
}

#editing_images p {
	
	float: left;
	margin-top: 5px;
	line-height: 32px;


	
}