/* Adding to global.admin.css rules for section specifics */

input:focus {
	
	
-moz-box-shadow: inset 0 0 3px #d1242c;
-webkit-box-shadow: inset 0 0 3px #d1242c;
box-shadow: inner 0 0 3px #d1242c;

	
}

#admin_command h1 {
	
	padding-bottom: 20px;
	color: #d1242c;
	font-weight: 900;

	
}

#admin_actions {
	
	height: 230px;
	
}

#admin_actions ul {
	
	padding-left: 45px;
	
}

.generic_admin_button:hover {
	
	cursor: pointer;
	text-decoration: none;
	background: url(images/admin-buttons-bg-orange-active.png) repeat-x;
	color: #fff !important;
	text-shadow: #993c15 1px 1px;
	border: 1px solid #fe4653;
	font-weight: bold;
	
}


/* News-specific rules */

#admin_news {
	
	float: left;
	
}

#admin_news label {
	
	margin-top: 10px;

}

#admin_news textarea {
	
	margin-top: -5px;
	
}

.textarea_wrapper {
	
	float: left;
	
}

.textarea_info {
	
	float: left;
	clear: left;
	font-size: 70%;
	color: #d1242c;
	padding: 1px 0 5px 0;


}

.choose_feed_header {
	
	float: left;
	clear: left;
	padding-bottom: 5px;
	
}

.choose_feed_link {
	
	float: left;
	clear: left;	
	color: #d1242c;
	line-height: 25px;
	padding: 5px 0;
	
}

.choose_feed_date {
	
	float: left;
	font-size: 70%;
	line-height: 25px;
	padding: 5px 10px;
	
}

.news_tag_edit {
	
	float: left;
	clear: left;
	line-height: 40px;
	padding: 5px 0;
	
}

.news_tag_edit a {
	
	color: #d1242c;
	padding-right: 10px;
	
}