
#title {
	
	width: 940px;
	height: 100px;
	background:  url(images/titlebg.png) bottom repeat-x;
	margin-left: -15px;
}

#title h2 {
	
	color: #eaeae7;
	font-family: Georgia, serif;
	text-align: center;
	line-height: 100px;
	font-size: 200%;
	letter-spacing: 3px;
	
}

#pagecontent {
	
	width: 980px;
	clear: both;
	float: left;
	min-width: 980px;
	background: #171717;

	
}

#bottom {
	
	width: 980px;
	height: 60px;
	float: left;
	display: block;
	background: url(images/bottombg.png) bottom repeat-x;
	
}

#gallery {
	
	width: 980px;
	min-width: 910px;
	color: white;

}

#about {
	
	position: absolute;
	left: 80px;
	top: 110px;
	width: 270px;
	font-size: 0.9em;

}

.menu2 {
font-family: verdana, arial, sans-serif; 
width:808px;
height:31px;
background:#333;
padding:0;
margin:0 auto; 
position:relative;
z-index:1;
border-bottom:20px solid #333;
margin-bottom:450px;
font-size: 0.9em;
}
/* position the instructions using a dl */
.menu2 dl {
font-family:verdana, arial, sans-serif;

position:absolute;
width:270px;
top:110px;
right:80px;
}
.menu2 dl dt, #about h3 {font-size:1.2em; margin-bottom:30px; font-weight:bold;}
.menu2 dl dd, #about p { padding:0; margin:0; margin-bottom:2em;}
.menu2 dl dd:first-letter, #about p:first-letter {font-weight:bold;}

/* remove the bullets and set the margin and padding to zero for the unordered list */
.menu2 ul {
padding:0; 
margin:0;
list-style-type: none;
border:0;
}
/* float the list so that the items are in a line */
.menu2 ul li {
display:block;
float:left;
width:268px;
height:31px;
text-align: center;


}

.border {
	
	border-right: 1px solid #555;

	
}

.border:hover {
	
	cursor: pointer;
	
}

/* style the links to be 50px wide by 31px high with a right border 1px solid white. Set the background color and the font size. */
.menu2 ul li a, .menu2 ul li a:visited {
display:block; 
float:left;
text-align:center; 
text-decoration:none; 
width:268px; 
height:31px; 
color:#ddd;
background:#333; 
line-height:30px; 
font-size:11px;
}

/* clear the float at the end of each line of four slides */
span.clr {display:block; clear:both; width:0; height:0; font-size:0; line-height:0;}

/* make the dropdown ul invisible */
.menu2 ul li ul {
display: none;


}

/* remove the table styling */
table {
border-collapse:collapse;
margin:0; 
padding:0;
}


/* specific to non IE browsers */
/* set the background and foreground color of the main menu li link on hover */
.menu2 ul li:hover a{
color:#fff; 
background:#272727;
cursor:default;

}


/* make the sub menu ul visible and position it beneath the first list item */
.menu2 ul li:hover ul {
text-align:left;
display: block;


position:absolute; 
top:31px; 
left:0;
}

/* make the sub menu ul li the full width with padding and border. */
.menu2 ul li:hover ul li {
cursor:pointer;
width:808px;
height:429px;
border:0px solid #000;
border-width:0px 0px;
background:#ddd url(slide/linen.jpg); 
color:#fff;
padding:0px 0px;
cursor:default;
}

/* style the background and foreground color of the submenu links */
.menu2 ul li:hover ul li a {
background:#171717;
width:200px;
height:141px;
border:1px solid #ddd;
border-color:#333 #000 #000 #333;
padding: 0px 0px;
opacity: .95;
}


/* keep the large image hidden */
.menu2 ul li:hover ul li a em {
display:none;
}
/* add a border to the horizontal slide and position it centrally using a top margin */
.menu2 ul li:hover ul li a.horiz span img {
border:0px solid #888;
margin-top: 0px;

}
/* add a border to the vertical slide and position it centrally using a top margin */
.menu2 ul li:hover ul li a.vert span img {
border:1px solid #888;
margin-top: 0px;
}

.menu2 ul li:hover ul li a:hover {
opacity: 1;
}


/* make the active links zero size so the active dotted border does not show through the large image */
.menu2 ul li:hover ul li a:active, .menu2 ul li:hover ul li a:focus {background:#aaa; height:0; width:0; border:0;}
.menu2 ul li:hover ul li a:active em, .menu2 ul li:hover ul li a:focus em {background:#bbb; height:0; width:0; padding:0; margin:0; border:0;}


/* make the large image visible and set the border, position them using position absolute centrally over the slides */
/* horizontal large image styling */
.menu2 ul li:hover ul li a.horiz:active em, .menu2 ul li:hover ul li a.horiz:focus em {display:block; background:#ddd; position:absolute; left:0px; top:0px; width:806px; height:427px; z-index:200; z-index:500; cursor:default; border:1px solid #171717;}
.menu2 ul li:hover ul li a.horiz:active em img, .menu2 ul li:hover ul li a.horiz:focus em img {border:0;}
/* vertical large image styling */
.menu2 ul li:hover ul li a.vert:active em, .menu2 ul li:hover ul li a.vert:focus em {display:block; background:#ddd; position:absolute; left:95px; top:23px; width:429px; height:640px; z-index:200; z-index:500; cursor:default;  border:1px solid #171717;}
.menu2 ul li:hover ul li a.vert:active em img, .menu2 ul li:hover ul li a.vert:focus em img {border:0;}
