/* Adding to global.admin.css rules for section specifics */

input:focus {
	
	
-moz-box-shadow: inset 0 0 3px #004ee3;
-webkit-box-shadow: inset 0 0 3px #004ee3;
box-shadow: inner 0 0 3px #004ee3;

	
}

#admin_actions {
	
	height: 270px;
	
}

#admin_actions ul {
	
	padding-left: 45px;
	
}

.generic_admin_button:hover {
	
	cursor: pointer;
	text-decoration: none;
	background: url(images/admin-buttons-bg-active.png) repeat-x;
	color: #fff !important;
	border: 1px solid #5c8ce3 !important;
	text-shadow: #1f62e3 1px 1px;
	font-weight: bold;
	
}

/* Knowledge-specific CSS */

#new_article {
	
	float: left;
	
}

#new_article h1 {
	
	padding-bottom: 20px;
	color: #004ee3;
	font-weight: 900;

}

#new_article form {
	
	float: left;
	
}

#new_article label {
	
	float: left;
	clear: left;	
	line-height: 40px;
	padding-right: 10px;
}

#new_article input, #new_article select, #new_article textarea {
	
	float: left;
	border: 1px solid #adadad;
	line-height: 20px;
	margin-top: 5px;
	width: 470px;
	font-size: 80%;
	padding: 5px;
	color: #333;
	font-family: 'Open Sans', arian, sans-serif;
}


.textarea_wrapper {
	
	float: left;
	
}

.textarea_info {
	
	float: left;
	clear: left;
	font-size: 70%;
	color: #5183E3;
	padding: 1px 0 5px 0;


}


.textarea_warning {
	
	color: red;
	
}
 
#new_article textarea {
	
	float: left;
	border: 1px solid #adadad;
	width: 620px;
	height: 60px;
	font-size: 90%;
	padding: 5px;
	color: #333;
	line-height: 20px;
	margin-top: 8px;


}

#new_article #pagetitle_input {
	
	width: 620px;
	margin-top: -5px;
	
}

#new_article #description_textarea {
	
	margin-top: -5px;
	
}

#new_article #url_input {
	
	width: 250px;
	
}

#new_article label.article_radio {
	
	width: 20px;
	padding-right: 10px;
	height: 20px;
	line-height: 20px;

	
}

#new_article input.article_radio_input {
	
	width: 20px;
	line-height: 40px;
	height: 20px;
	padding: 0;
	margin: 0;
	
}

.article_note {
	
	font-size: 70%;
	color: #666;
}

.article_note a {
	
	font-weight: lighter;
	padding-left: 5px;
	
}

.new_article_hidden {
	
	display: none;
	padding-bottom: 20px;
	font-size: 80%;
	font-weight: bold;
	
}

#new_article #new_article_description_example {
	
	line-height: 20px;
	
}

.label_extratop {
	
	padding-top: 20px;
	
}

.label_extrabottom {
	
	padding-bottom: 20px;
	
}

#new_article #new_article_submit {
	
	margin-top: 20px;
	float: left;
	clear: left;
	width: 100px;
	background:
	height: 30px;
	background: url(images/admin-buttons-bg.png) repeat-x;
	border: 1px solid #ADADAD;
	margin-bottom:30px;
	font-weight: bold;
	
}

#new_article #new_article_submit:hover {
	
	cursor: pointer;
	text-decoration: none;
	color: #333;
	background: url(images/admin-buttons-bg-active.png) repeat-x;
	color: #fff;
	border: 1px solid #5c8ce3;
	text-shadow: #1f62e3 1px 1px;
	font-weight: bold;


}

#new_article #edit_article_submit {
	
	margin-top: 20px;
	float: left;
	clear: left;
	width: 200px;
	background:
	height: 30px;
	background: url(images/admin-buttons-bg.png) repeat-x;
	border: 1px solid #ADADAD;
	margin-bottom:30px;
	font-weight: bold;
	
}

#new_article #edit_article_submit:hover {
	
	cursor: pointer;
	text-decoration: none;
	color: #333;
	background: url(images/admin-buttons-bg-active.png) repeat-x;
	color: #fff;
	border: 1px solid #5c8ce3;
	text-shadow: #1f62e3 1px 1px;
	font-weight: bold;

}





.choose_article_link {
	
	float: left;
	clear: both;
	line-height: 30px;
	
}

.choose_article_date {
	
	float: left;
	font-size: 70%;
	color: #333;
	line-height: 30px;
	padding-left: 10px;
	
}

#new_article_build_toc, #complete_article_toc {
	
	float: left;
	clear: left;
	margin-top: 20px;
	width: 300px;
	background:
	height: 30px;
	background: url(images/admin-buttons-bg.png) repeat-x;
	border: 1px solid #ADADAD;
	margin-bottom:0px;
	display: block;
	color: #333;
	font-weight: lighter;
	text-align: center;
	line-height: 30px;
	font-size: 80%;
	font-weight: bold;
	
}

#new_article_build_toc:hover, #complete_article_toc:hover {
	
	cursor: pointer;
	text-decoration: none;
	color: #333;
	background: url(images/admin-buttons-bg-active.png) repeat-x;
	color: #fff;
	border: 1px solid #5c8ce3;
	text-shadow: #1f62e3 1px 1px;
	font-weight: bold;

}

.toc_note {
	
	font-size: 70%;
	color: #666;
	clear: left;
	height: 20px;
	line-height: 20px;
	display: block;

}


#new_article_toc {
	
	float: left;
	clear: left;
	
}

#new_article_completed_toc_wrapper {
	
	float: left;
	width: 400px;
	display: none;
	padding-top: 20px;
	margin-left: 40px;
	
}

#toc_hidden_wrapper {
	
	display: none;
	
}

#toc_list_wrapper {
	
	float: left;
	clear: left;

}

#toc_super_list, #toc_super_list ol {
	
	list-style-type: none;
	
}

#toc_super_list ol {
	

	width: 170px;
	
}

#toc_super_list ol li {
	

	width: 170px;

}

#toc_super_list li {
	
	float: left;
	clear: left;


	
}

#toc_super_list input {
	
	width: 170px;
	font-size: 11px;
	color: #004EE3;
	line-height: 22px;
	height: 22px;
	
}

#toc_super_list ol input {
	
	width: 150px;
	margin-left: 20px;
	float: left;
	clear: left;
	font-size: 11px;
	color: #004EE3;
	line-height: 22px;
	height: 22px;

	
}

#complete_toc_wrapper {
	
	float: left;
	clear: left;
	
}





#knowledge_contents {
	
	float: left;
	clear: left;
	padding-top: 0;
	width: 170px;
	border: 1px dashed #ADADAD;
	padding-left: 10px;
	
}

#knowledge_contents p {
	
	color: #333;
	font-size: 70%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 5px;
	
	
}

#knowledge_contents ol {
	
	list-style-type: none;
	padding: 0;
	margin: 0;
	
}

#knowledge_contents li {
	
	padding: 0;
	line-height: 22px;

	
}

#knowledge_contents a {
	
	font-weight: normal;
	font-size: 70%;
	color: #004ee3;

	
}

#knowledge_contents li ol {
	
	padding-left: 20px;
	
}

#final_toc {
	
	display: none;
	
}

#admin_footer_wrapper {
	
	width: 960px;
	height: 200px;
	margin: 0 auto;	
}

#admin_footer {
	
	width: 960px;
	height: 200px;
	float: left;
	clear: both;	
}

.tag_list {
	
	line-height: 40px;
	float: left;
	clear: left;
	
}

.editing_tag {
	
	float: left;
	clear: left;
	display: none;
	
}


#editing_images {
	
	float: left;
	clear: left;
	
}

#editing_images img {
	
	width: 160px;
	border: 1px solid #d5d5d5;
	float: left;
	clear: left;	
	margin-top: 20px;
	margin-bottom: 10px;
}

#editing_images a {
	
	float: left;
	clear: left;

	
}

#editing_images p {
	
	float: left;
	margin-top: 5px;
	line-height: 32px;


	
}









