a {
	
	color: #c7008a;
	font-weight: bold;

	
}

#sub_header2 {
	
	background: #fff;
	
}



#middle {
	
	border-left: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-top: 1px solid #bbb;
	padding-top: 6px;
	min-height: 1000px;
	
}

#section_note {
	
	color: #999 !important;
	padding-bottom: 10px;
	font-size: 80%;
	
}


#focus_bg {
	
	position: absolute;
	width: 30%;
	height: 60px;
	top: 56px;
	right: 0;
	background:url(/css/images/focus-bg-pink.png) repeat-x;
	z-index: 0;
	border-bottom: 1px solid #666;
	border-top: 1px solid #ff96cc;

}

#focus_bar {
	
	margin-top: -30px;
	float: right;
	position: relative;
	width: 799px;
	height: 60px;
	background:url(/css/images/focus-bg-pink.png) repeat-x;
	z-index: 1;
	border-bottom: 1px solid #666;
	border-left: 1px solid #db5db5;
	border-top: 1px solid #ff96cc;

	
}

#focus_title {
	
	color: #fff;
	line-height: 60px;
	padding-left: 20px;
	font-weight: 800;

	text-shadow: #9c004f 1px 1px;
	font-size: 140%;
	float: left;

}

#focus_feedback {
	
	display: block;
	height: 30px;
	width: 110px;
	line-height: 30px;
	text-align: center;
	background: url(/css/images/admin-buttons-bg.png) repeat-x;
	border-bottom: 1px solid #777;
	border-right: 1px solid #555;	
	border-left: 1px solid #EDEDED;
	border-top: 1px solid #EDEDED;	
	float: right;	
	color: #666;
	font-weight: bold;
	font-size: 75%;
	margin-top: 13px;
	margin-left: 5px;

	
}

#focus_sort {
	
	display: block;
	height: 30px;
	width: 110px;
	position: relative;
	float: right;
	margin-top: 13px;
	margin-left: 28px;
	
}

#media_sort_button {
	
	
	display: block;
	height: 30px;
	width: 110px;
	line-height: 30px;
	text-align: center;
	background: url(/css/images/admin-buttons-bg.png) repeat-x;
	border-bottom: 1px solid #777;
	border-right: 1px solid #555;	
	border-left: 1px solid #EDEDED;
	border-top: 1px solid #EDEDED;	
	color: #666;
	font-weight: bold;
	font-size: 75%;

}

#media_sort_button:hover, #focus_feedback:hover {
	
	text-decoration: none;
	background: url(/css/images/knowledge-buttons-bg-active.png) repeat-x;
	color: #fff;
	border: 1px solid #d5d5d5;
	text-shadow: #7E9F5F 1px 1px;



}

#media_sort_button.media_sort_button_active {
	
	text-decoration: none;
	background: url(/css/images/knowledge-buttons-bg-active.png) repeat-x;
	color: #fff;
	border: 1px solid #d5d5d5;
	text-shadow: #7E9F5F 1px 1px;
	
}

#media_sort_button:active {
	
	text-decoration: none;

	
}


#media_sort_button img {
	
	padding-left: 3px;
	padding-bottom: 2px;
	
}


#media_sort_wrapper {
	
	position: absolute;
	top: 31px;
	right: -2px;
	bottom: -1px;
	width: 860px;
	display: none;

	
}

#media_sort_list {
	
	background: #9ecd76;
	border: 1px solid #d5d5d5;
	float: right;
	clear: right;
	width: 110px;
}

#media_sort_list ul {
	
	list-style-type: none;
	
}

#media_sort_list li {
	
	width: 110px;
	text-align: center;
	padding: 5px 0;
		
}

#media_sort_list a {


	color: #fff;
	text-shadow: #7E9F5F 1px 1px;
	
}


#media_nav {
	
	padding-top: 0px;
	width: 170px;
	margin-right: 10px;
}

#media_nav p {
	
	color: #333;
	font-size: 70%;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 5px;
	text-align: left;
	margin-right: 11px;
	float: right;
	clear: right;
	width: 160px;
	
	
}


#media_nav ul {
	
	list-style-type: none;
	padding-right: 10px;
	float: left;
	clear: left;
	padding-bottom: 40px;
	line-height: 22px;
	
}

#media_nav li {
	
	float: left;
	clear: left;
	text-align: left;
}

#media_nav a {
	
	color: #c7008a;
	
	font-size: 70%;
	
}


#media_content {
	
	float: left;
	clear: left;
	padding: 0 20px 20px 20px;

	
}

#media_content h2 {
	
	color: #c7008a;
	float: left;
	clear: left;
	padding-bottom: 3px;
	margin-bottom: 7px;
	font-size: 100%;
	border-bottom: 1px solid #d5d5d5;
	width: 590px;
	font-weight: bolder;
	
}

#media_content p {
	
	font-size: 80%;
	
}
	
/* Media main page styling */

#photo_albums {
	
	float: left;
	clear: left;
	margin-bottom: 30px;
	
}

#video_albums {
	
	float: left;
	clear: left;
	
}

.album_entry {
	
	float: left;
	padding: 20px 20px 0 20px;
	border: 1px solid #d5d5d5;
	margin: 10px 0;
	background: #f1f1f1;
	width: 550px;
}

.album_entry h3 {
	
	font-size: 120%;
	font-weight: 100;
	color: #999;
	padding-bottom: 10px;
	padding-top: 0;
}

.album_entry h3 a {
	
	color: #c7008a;
	
}

.album_entry p {
	
	padding-bottom: 20px;
	
}
	
	
	
	
/* Images styling */


.image_width, .image_height {
	
	display: none;

}

.media_thumb img {
	
	padding: 2px;
	border: 1px solid #d5d5d5;
	margin: 0 1px;
	
}

.media_thumb img:hover {
	
	border: 1px solid #c7008a;
	
}

.thumb_wrapper {
	
	width: 135px;
	height: 110px;
	overflow: hidden;
	padding: 2px;
	border: 1px solid #d5d5d5;
	margin: 0 1px;
	float: left;
	
}

.thumb_wrapper:hover {
	
	border: 1px solid #c7008a;
	
}


.thumb_wrapper .media_thumb {

	padding: 0!important;
	border: 0!important;
	margin: 0!important;
			
}

.thumb_wrapper .media_thumb:hover {


	border: 0!important;

			
}


.album_header {
	
	margin-bottom: 15px!important;
	border-bottom: 1px solid #d5d5d5;
	padding-bottom: 3px;
	font-size: 100%;
	font-weight: 800;
	color: #c7008a;
		
}

#media_items {
	
	float: left;
	clear: left;
	
}

.description_header {
	
	color: #c7008a;
	font-weight: bold;
	
}

.album_description {
	
	border-top: 1px solid #d5d5d5;
	margin-top: 15px;
	padding: 5px 0 20px 0;
	width: 590px;
	float: left;
	clear: left;
} 




/* video album styling */

.video_entry {
	
	float: left;
	padding: 20px 20px 0 20px;
	margin: 10px 0;
	background: #f1f1f1;
	border: 1px solid #d5d5d5;
	width: 550px;
}

.video_entry h3 {
	
	font-size: 120%;
	font-weight: 100;
	color: #999;
	padding-bottom: 10px;
	padding-top: 0;
}

.video_entry h3 a {
	
	color: #c7008a;
	
}

.video_entry p {
	
	padding-bottom: 20px;
	
}

#media_images img {
	
	margin-top: 10px;
	border: 1px solid #d5d5d5;

	
}

#media_images img:hover {
	

	border: 1px solid #c7008a;
	
}

iframe {
	
	z-index: 1;
	
}
