
#panorama {
	
	width: 970px;
	height: 200px;
	background: url(images/royce.jpg);
	border: 5px solid #171717;
	
}

#royce {
	
	position: absolute;
	background: none;
	right: 10px;
	top: -85px;
	color: #3a3a3a;
	font-size: 90%;
	z-index:1;
	
}

#title {
	
	background: #eaeae7 url(http://www.climatepedia.org/css/images/fadebg.png) top repeat-x;
	height: 80px;
	border-left: 5px solid #171717;
	border-right: 5px solid #171717;
	padding-top: 10px;
	
}

#title h2 {
	
	font-size: 200%;
	color: #3a3a3a;
	padding: 30px 15px 15px 20px;
	font-family: Georgia, serif;
	border-bottom: 1px solid #171717;

	
}

#pagecontent {
	

	background: #eaeae7 url(http://www.climatepedia.org/css/images/fadebgbottom.png) bottom repeat-x;
	float: left;
	color: #3a3a3a;
	border-left: 5px solid #171717;
	border-right: 5px solid #171717;
	position: relative;
	z-index: 1;
	height: 570px;
	
}

#contact {
	
	padding: 5px 15px;
	width: 940px;
	height: 460px;
	line-height: 23px;
	float: left;


}

#bold {
	
	font-weight: bold;
	
}

#contact ul {
	
	padding: 15px;
	
}

#contact li {
	
	padding: 5px 0 0 10px;
	
}


#group {
	
	float: right;
	margin: 5px;
	border: none;
	padding-top: 20px;
	
}

#contactbg {
	
	height: 300px;
	width: 620px;

	
}

#contactheader {
	
	font-family: Georgia, serif;
	padding: 20px;
	font-size: 200%;
	
}


#contactform {
	
	width: 150px;
	padding-left: 20px;
}

.fieldclass {
    background-image: url(images/field-bg.gif);
    background-repeat: repeat-x;
    border: 1px solid #c8c8c8;
    font-size: 13px;
    color: #333333;
    line-height: 13px;
    padding: 8px;
    margin-bottom: 20px;
    width: 560px;
    float: left;
}



#bottom {
	

	border-top: 1px solid #bbb;
	background: url(http://www.climatepedia.org/about/css/images/officerbg.png) repeat-x;
	width: 980px;
	height: 300px;
	color: white;	
	float: left;
	text-align: center;
	
}

#bottom h4 {
	

	font-family: Georgia, serif;
	font-size: 200%;
	font-weight: 100;
	color: #171717;
	margin-bottom: 30px;
	margin-top: 20px;
	
}


#staff {
	
	height: 300px;
	width: 326px;
	float: left;
	line-height: 20px;
}

#position {
	
	float: left;
	width: 160px;
	text-align: right;
	font-weight: bold;
	line-height: 35px;
	color: #1c2d1f;
	
}

#name {
	
	float: right;
	width: 130px;
	text-align: left;
	line-height: 35px;
	
}

#uclastudents {
	
	height: 300px;
	width: 326px;
	float: right;

}

#uclastudents h4 {
	
	color: #171717;
	font-family: Georgia, serif;
	font-size: 200%;
	font-weight: 300;

}

#contactbutton {
	
	height: 300px;
	width: 326px;
	float: right;
	border-right: 1px solid #375b3e;
	border-left: 1px solid #375b3e;

}

#contactbutton p, #uclastudents p {
	
	padding: 0 40px;
	line-height: 20px;
	margin-bottom: 10px;

}

#contactbutton a, #uclastudents a {
	
	font-size: 150%;
	font-weight: bold;
	color: #1c2d1f;
	
}

#contactbutton a:hover, #uclastudents a:hover {
	
	color: #305036;
	
}
