

#pagecontent {
	
	width: 910px;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 5px;
	clear: both;
	float: left;
	min-width: 910px;
	background: url(http://www.climatepedia.org/css/images/transparency2.png);
	font-size: 120%;
	
}


#title {
	
	margin: 0px 0 auto ;
	color: white;
	padding: 10px 10px 30px;
	background: url(images/history-back.gif);
	height: 120px;
	width: 890px;

	
}

#titletitle {
	
	width: 375px;
	height: 130px;
	background: url(images/metablog.png);
	float: left;
	margin-left: 60px;
	
}

#title h2 {
	
	font-size: 200%;
	color: #9bc2cf;
	opacity: 0;
	
}

#title p {
	
	padding: 40px 0px;
	margin-left: 0px;
	margin-right: 10px;
	float: right;
	width: 400px;



}



#showhide {
	
	background: url(images/showhide.png);
	width: 120px;
	height: 20px;
	color: white;
	line-height: 20px;
	float: left;
	text-align: center;
	margin: 15px 0px 5px 5px;
	border: 1px solid #90cbde;

}

#showhide:hover {
	
	color: #c8e0e8;
	
}


#blog {
	
	
	width:680px;
	float: left;
	color: #d5d5d5;
	border-top: solid 1px #90cbde;

	
}

#explanation {
	
	text-align:center;
	background: url(images/explanationbg.png);
	height: 35px;
	margin-right: 15px;
	color: #c8e0e8;
	line-height: 15px;
	padding-top:5px;
	font-size: 85%;
	margin-left: 260px;
	margin-top: 5px;
	
	
}


#posts {
margin-top:0px;
margin-bottom:5px;
float:left;
width:670px;
position:relative;
overflow:hidden;

padding:5px 5px 40px;
color: white;

}


	
	
	
.toggleicon {
border:none;
position:absolute;
right:673px;
top:11px;
}

.headlinewrapper {
background:url(images/news-bg.png);
height:59px;
width:670px;
display:block;
color: white;
font-size: 80%;
}

.headline {
width:670px;
position:relative;
left:47px;
top: 15px;
color: #fff;
font-family:Verdana, serif;
font-size:120%;
line-height:45px;


}



a[rel] {
color:#c4deb7;
text-decoration:none;
font-weight: 500;

}

#showrest {
	
	height: 20px;
	line-height: 20px;
	padding: 10px 10px 10px 15px;
	
}

.story {

border-top:1px solid #90cbde;
font-size: 120%;
color: #c8e0e8;
background: #09101b;
}

a.comments:link,a.comments:visited {
position:relative;
left:20px;
top:10px;
font-size:100%;
margin:5px;
padding:5px
}

.topcontent,.midcontent, .bottomcontent {
color:#c8e0e8;
line-height:150%;
font-size:13px;
padding-top:10px;
padding-bottom:10px;
padding-left:15px;
}

.story img {
	
	padding-left: 20px;
	padding-top: 5px;
}

#bottom {
	
	width: 670px;
	height: 66px;
	background: url(images/news-bottom.jpg);
	
}

#story1,#story2,#story3,#story4,#story5,story#6, story#7, #story8,#story9,#story10,#story11,#story12,story#13, story#14, #story15,#story16,#story17,#story18,#story19,story#20 {
width:650px;
opacity:1px;
}



#blogroll {
	
	width: 220px;


	float: right;
	border-top: 1px solid #90cbde;
	margin-right: 5px;

}

#blogroll h3 {
	
	text-align: center;
	padding-top: 10px;
	color: #d5d5d5;
	padding-bottom: 5px;
	
}

#blogroll a {
	
	color: #a4cd90;
	font-weight: bold;
	line-height: 30px;
	
}

#blogroll a:hover {
	
	color: #b7d2aa;
	
}
	

#blogroll li {
	
	list-style-type: none;
}

#trending {
	
	width: 220px;

	color: #d5d5d5;
	float: right;
	margin-top: 10px;
	border-top: 1px solid #90cbde;
	margin-right: 5px;
	font-size: 95%;

}

#trending h3 {
	
	padding-top: 10px;
	
}



.comment {
	
	margin-top: 10px;
	font-size: 90%;
	text-align: left;
}

.comment em {
	
	font-weight: bold;
	color: #6d6d6d;
	
}

#archives {
	
	width: 220px;

	color: #d5d5d5;
	float: right;
	margin-top: 10px;
	border-top: 1px solid #90cbde;
	margin-right: 5px;
	padding-top: 10px;
	font-size: 90%;

}

#archives h3 {
	
	padding-bottom: 10px;
	text-align: center;
	
}

#left {
	
	float: left;
	width:107px;	
	
}

#right {
	
	float: right;
	width: 107px;
	
}



#categories {
	
	width: 220px;
	float: right;
	color: #d5d5d5;
	margin-top: 10px;
	border-top: 1px solid #90cbde;
	margin-right: 5px;
	padding-top: 10px;
	font-size: 90%;
	line-height: 20px;
	
}



#categories h3 {
	
	color: #d5d5d5;
	text-align: center;
}

#categories li {
	
	list-style-type: none;
		
}

#categories a {
	
	color: #a4cd90;
	
	
}

#categories a:hover {
	
	color: #628352;
	
}

#tags {
	
	width: 220px;
	clear: right;
	
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	color: white;
	text-align: justify;
	border-top: 1px solid #90cbde;
}

#tags h3 {
	
	text-align: center;
	padding-top: 10px;
	
}







