AuthName "Beta"
AuthUserFile "/home/virtus/.htpasswds/public_html/climatepedia.org/beta/passwd"

RewriteEngine On
#
# Internally rewrite search engine friendly static URL to dynamic filepath and query
# News rewrites
RewriteRule newclimate/news/(.*)/page/(.*) newclimate/news.php?keyword=$1&page=$2
RewriteRule newclimate/news/(.*) newclimate/news.php?keyword=$1

# Blogs internal rewrites
RewriteRule newclimate/blogs/page/(.*) newclimate/blogs.php?page=$1
RewriteRule newclimate/blogs/post/(.*) newclimate/blogs.php?postid=$1
RewriteRule newclimate/blogs/sort/(.*) newclimate/blogs.php?sortmethod=$1
RewriteRule newclimate/blogs/sort/(.*)/page/(.*) newclimate/blogs.php?sortmethod=$1&page=$2

# Podium internal rewrites
RewriteRule newclimate/podium/network/page/(.*)/sort/(.*) newclimate/podium.php?directory=all&page=$1&sort=$2
RewriteRule newclimate/podium/network/sort/(.*) newclimate/podium.php?directory=all&sort=$1
RewriteRule newclimate/podium/network/page/(.*) newclimate/podium.php?directory=all&page=$1
RewriteRule newclimate/podium/network/(.*) newclimate/podium.php?directory=single&professor=$1
RewriteRule newclimate/podium/network newclimate/podium.php?directory=all

RewriteRule newclimate/podium/page/(.*) newclimate/podium.php?page=$1
RewriteRule newclimate/podium/sort/(.*) newclimate/podium.php?sortmethod=$1
RewriteRule newclimate/podium/sort/(.*)/page/(.*) newclimate/podium.php?sortmethod=$1&page=$2
RewriteRule newclimate/podium/(.*) newclimate/podium.php?posturl=$1


# Media internal rewrites
RewriteRule newclimate/media/album/page/(.*) newclimate/media.php?album=single&page=$1
RewriteRule newclimate/media/album/(.*)/(.*) newclimate/media.php?type=single&album=$1&url=$2
RewriteRule newclimate/media/album/(.*) newclimate/media.php?type=single&album=$1
RewriteRule newclimate/media/sort/(.*) newclimate/media.php?sort=$1


# Organization internal rewrites
RewriteRule newclimate/organization/(.*) newclimate/organization.php?url=$1


# Internally rewrite extensionless URL to corresponding .php
# file unless the URL exists as a directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(([^/]+/)*[^.]+)$ $1.php [L]

#Redirects to www. version
RewriteCond %{HTTP_HOST} ^climatepedia\.org
RewriteRule (.*) http://www.climatepedia.org/beta/$1 [R=301]

# Externally redirect (only) direct client requests for .php URLs to extensionless URLs
RewriteCond %{THE_REQUEST} ^[A-Z]+\ /([^/]+/)*[^.#?\ ]+\.php([#?][^\ ]*)?\ HTTP/

RewriteCond %{REQUEST_FILENAME} !^http://www.climatepedia.org/beta/newclimate/ucla-login.php
RewriteRule ^(([^/]+/)*[^.]+)\.php http://www.climatepedia.org/beta/$1 [R=301,L]
